
.task {
    display: flex;
    align-items: center;
    width: 736px;
    height: 72px;

    background-color: var(--gray-500);
    margin-bottom: 1rem;
    padding: 1rem;
    border: 1px solid var(--gray-400); 
    border-radius: 0.5rem;
}

.task button {
    background-color: transparent;
    border: none;
    cursor: pointer;    
}

.icon {
    color: var(--gray-300);
}

.icon:hover {
    color: var(--danger);
}

.isCompletedText {
    text-decoration: line-through;
    color: var(--gray-300);

    padding: 0.5rem;
    width: 670px;
    height: 40px;
}

.isNotCompletedText {
    color: var(--gray-100);

    padding: 0.5rem;
    width: 670px;
    height: 40px;
}